.inline p{
	display:inline;
}

.center{
	text-align:center;
}

.herolist{
	border-bottom:solid #cccccc 1px; 
}

.testimonial_profile{
	width:82px;
	height:auto;
	overflow:hidden;
	margin-left:10px;
	color:#0088cc;
	float:left;
}
.testimonial_profile img{
	width:80px;
	height:auto;
	overflow:hidden;
	border:solid #cccccc 1px;
	float:left;
}

.testimonial_particular{
	margin-left:10px;
}