.company_hub_description h1{
	font-size:18pt;
	margin-top:0px;
}

.company_comments{
margin-left: 20px;
margin-top:20px;
width:300px;
}


.figure1{
	float:left;
	width:65px;
}

.figure2{
	float:left;
	width:40px;
}

.text{
	float:left;
	width:235px;
}


.figure1 h1,.figure2 h1{
	font-size: 30px;
	color:green;
	padding:0px;
	margin:0px;
	margin-right:10px;
	position:relative;
	top:-4px;
	text-align:left;
}

.text p{
	padding:0px;
	margin:0px;
}

#company_navigation{
	margin-left:20px;
}

.company-detail-navigation{
	position:relative;
	left:10px;
	top:1px;
}

.company-detail-navigation a[class="active btn"]{
	background:white;
	border-radius: 0px;
	border-bottom-color: white;
	color:green;
	width:170px;
}

.company-detail-navigation a[class="btn"]{
	background:#f9f9f9;
	border-radius: 0px;
	width:170px;
}

.hero-unitcompany{
background:white;
border-top-style: solid;
border-color:#cccccc;
border-width:1px;
margin-bottom:15px;
padding:15px;
}

.hero-unitcompany h1{
font-size: 12pt;
font-weight: bold;
color:#0088cc;
}

.hero-unitcompany p{
font-size: 10pt;
margin:0px;
}

.company_details{
	margin-top:10px;
	margin-left:20px;
	margin-right:20px;
	margin-bottom:0px;
}

.company_details h2{
color:#0088cc;
font-size:12pt;
padding:0px;
margin:0px;
}

.company_details tbody{
	font-size:10pt;
}

.company_details .table td{
	border:none;
	line-height:150%;
	padding:3px;
}

.company_photo{
	color:#4a8bf5;
	margin-left:10px;
}

.company_photo h4{
	margin-left:10px;
	font-weight:normal;
	margin-bottom:10px;
}

