%h2 CareerScout Password Retrieval
%br
<b>
%p Hi #{@user.first_name},
</b>
%p Someone has claimed that he/she forgot your account password.
%p Please click on the following link to activate your new password; otherwise, please ignore this email.
%br
%p= link_to "Click here", retrieve_password_profile_url(:id => @user.id, :digest => @digest, :expired => @expired), :target => "_blank"
%br
%p This link is only valid for 60 minutes from now and it will expire on (#{Time.at @expired}).
%p After you click the link, your new password is <strong>#{@new_password}</strong>
%br
%p Best Regards,
%p CareerScout Management Team
%br
%img{:alt => "CareerScout Logo", :src => "http://careerscout.asia/assets/careerscout-d5700fa97f365bb5cb743ffec74140a8.png", :width => "300"}/