%h2 CareerScout Password Retrieval
%br
<b>
%p Hi #{@user.first_name},
</b>
%p Someone has claimed that he/she forgot your account password.
%p Please click on the following link to activate your new password; otherwise, please ignore this email.
%br
%p= link_to "Click here", retrieve_password_profile_url(:id => @user.id, :digest => @digest, :expired => @expired), :target => "_blank"
%br
%p This link is only valid for 60 minutes from now and it will be expired at (#{Time.at @expired}).
%p After you click the link, your new password is <strong>#{@new_password}</strong>
%br
%p Best Regards,
%p CareerScout Management Team

%table{:style => "width: 600px" "height => 1000px"}
	%tr
		%td{:width => "100"}=image_tag "http://img.wikinut.com/img/3p.jzz3yjo0596b5/jpeg/0/Copyright-Symbol-Image-via-Wikipedia.jpeg"
