%h2 CareerScout Asia Submission Approval
%br
<b>
%p Hi #{@user.first_name},
</b>
%p Congratulation! Your submission to CareerScout Asia has been approved!
%br
%p= @company_detail.company_name
%br
%p Best Regards,
%p CareerScout Asia Management Team
%br
%img{:alt => "CareerScout Logo", :src => "http://careerscout.asia/assets/careerscout-d5700fa97f365bb5cb743ffec74140a8.png", :width => "300"}/