%h2 CareerScout Asia Submission Rejection
%br
<b>
%p Hi #{@user.first_name},
</b>
%p We are sorry to announce that your job/internship post to CareerScout Asia has been rejected.
%br
%p= @message
%br
%p Best Regards,
%p CareerScout Asia Management Team
%br
%img{:alt => "CareerScout Logo", :src => "http://careerscout.asia/assets/careerscout-d5700fa97f365bb5cb743ffec74140a8.png", :width => "300"}/