%h2 CareerScout Asia Account Confirmation 
%br
<b>
%p Hi #{@user.first_name},
</b>
%p You just signed up for CareerScout Asia.
%p Please follow this link to confirm that this is your e-mail address.
%br
%p= link_to "Click here", activate_profile_url(:id => @user.id, :digest => @digest, :key => @key), :target => "_blank"
%br
%p Best Regards,
%p CareerScout Asia Management Team
%br
%img{:alt => "CareerScout Logo", :src => "http://careerscout.asia/assets/CareerScout-d72839aa2cc742c19ca222627a23398b.png", :width => "250"}/