%h2 MyFirstJob Submission Rejection
%br
<b>
%p Hi #{@user.first_name},
</b>
%p We are sorry to announce that your submission to MyFirstJob has been rejected.
%br
%p= @message
%br
%p Best Regards,
%p MyFirstJob Management Team

%table{:style => "width: 600px" "height => 1000px"}
	%tr
		%td{:width => "100"}=image_tag "http://img.wikinut.com/img/3p.jzz3yjo0596b5/jpeg/0/Copyright-Symbol-Image-via-Wikipedia.jpeg"