%h2 CareerScout Asia Submission Rejection
%br
<b>
%p Hi #{@user.first_name},
</b>
%p We are sorry to announce that your submission to CareerScout Asia has been rejected.
%br
%p= @message
%br
%p Best Regards,
%p CareerScout Asia Management Team
%br
%img{:alt => "CareerScout Logo", :src => "http://careerscout.asia/assets/CareerScout-d72839aa2cc742c19ca222627a23398b.png", :width => "250"}/