%h2 CareerScout Submission Rejection
%br
<b>
%p Hi #{@user.first_name},
</b>
%p We are sorry to announce that your submission to CareerScout has been rejected.
%br
%p= @message
%br
%p Best Regards,
%p CareerScout Management Team
%br
%img{:alt => "CareerScout Logo", :src => "http://careerscout.asia/assets/careerscout-d5700fa97f365bb5cb743ffec74140a8.png", :width => "300"}/