.row
	.span8
		.hero-unit
			%h1 Edit Testimonial
			=render "form"
	.span4
		.hero-unit
			%h1 Advanced Search
			<div id="searchbox">
			= render 'shared/search_box', :options =>  CompanyDetail::SEARCH_KEYS 
			</div>