.collection_radio_buttons{
	display:inline;
	padding-right: 20px;
}

label[class="collection_radio_buttons"]{
	position:relative;
	top:3px;
	left:3px;
}

#testimonial_contents_culture{
width:590px;
	height:150px;
}

#testimonial_contents_work_balance{
width:590px;
	height:150px;
}

#testimonial_contents_work_experience{
width:590px;
	height:150px;
}

#testimonial_contents_advice{
width:590px;
	height:150px;
}

#testimonial_other{
	width:220px;
}

label[class="boolean optional"]{
	position:relative;
	left:20px;
	top:-16px;
}
