/* Testimonial Details*/

.voting{
	font-size: 10pt;
	background:white;
	margin-top:10px;
	padding-left:10px;
	width:140px;
	border:solid 1px #cccccc;
}

.active.upvote a{
	color:black;
}

.active.downvote a{
	color:black;
}

#comment_content{
	width:580px;
	height:100px;
}

.reviewer_box{
	height:120px;
	background:#f1f1f1;
	padding:10px;
	border-radius:3px;
	border:solid #cccccc 1px;
}

.review_text{
	margin-left:30px;
}

.review_text h2{
	font-size:12pt;
	padding:0px;
	margin:0px;
}

.review_text p{
	padding:0px;
	margin:0px;
	margin-bottom:15px;
}

.comment_section{
	border-top:solid #cccccc 1px;
	padding:30px;
	height:150px;
}

#comment_submit{
	position:relative;
	left:215px;
	top:140px;
}

.comment_list{
	padding-left:30px;
	padding-bottom:30px;
	padding-right:30px;
	padding-top:10px;
}

#comment_button{
	width:100px;
}

.comment_container p{
	margin:0px;
	margin-bottom:15px;
	position:relative;
	top:-15px;
}

.herolist_comment{
	border-bottom:1px #cccccc solid;
}

.comment_profile{
	width:82px;
	height:auto;
	overflow:hidden;
	margin-left:10px;
	color:#0088cc;
	float:left;
	margin-bottom:15px;
}

.comment_profile img{
	width:80px;
	height:auto;
	overflow:hidden;
	border:solid #cccccc 1px;
	float:left;
}