.row  
  .span8
    %br
    %br
    %br
    .loginbox
      .hero-unit
        #forget-password-section
          %h1 Confused
          .space
          %p Hmmmm..... Are you joking around?
          %br
          %p You are already logged in.
          %br
          %p= link_to "Go back to Welcome Page", root_path