.hero-unit3
	%br
	%br
	%br
	%br
	%br
	%br
	%h1 Thank you for your registration!
	%h2 We have sent a confirmation email to your email address!
	%br
	%br
	.center
		%h3 You are just one-step away to discover our AWESOMENESS
%br
%br
%br
%br
%br
%br
%br
%br