.hero-unit8
  %ul.breadcrumb.navigation
    %li
      = link_to root_path do
        %i.icon-folder-open
        Home
    %span.divider >
    %li.gray
      Forget Password
%br
%br
.row  
  .span8
    %br
    %br
    %br
    .login_box
      #forget-password-section
        %h1 Retrieving new password
        .space
        %p Please enter your email address in the following section. We will send you an email verification shortly with a new password.
        %br
        = form_tag :post_forget_password_profile, :method => :post do
          .field
            %p <b> Enter your email address </b>
            %p= text_field_tag :email, params[:email], :placeholder => "E-mail"
          %br
          .center
            .actions
              = submit_tag "Submit", :class => "btn btn-primary"