.row  
  .span8
    .loginbox
      .hero-unit
        #forget-password-section
          %h1 Retrieving new password
          %p Please enter your email address in the following section. We will send you an email verification shortly with a new password.
          = form_tag :post_forget_password_profile, :method => :post do
            .field
              %p <b> Enter your email address </b>
              %p= text_field_tag :email, params[:email], :placeholder => "E-mail"
            %br
            .center
              .actions
                = submit_tag "Submit", :class => "btn btn-primary"