.hero-unit8
	%ul.breadcrumb.navigation
		%li
			= link_to root_path do
				%i.icon-folder-open
				Home
		%span.divider >
		%li.gray
			Sign In
%br
%br
.row
	.span8
		.hero-unit8
			%h1 About Us
			%br
			%p Dear Users,
			%br
			%p MyFirstJob is an online portal on a mission to help tertiary students make better career decision. We work towards creating an environment where students can get guidance and insiders’ information on companies and industries before they enter the workforce.
			.space
			%p Our company hub facilitates the sharing of internship & interviews experience between peers and alumni to allow them to have a preview of the working life in different companies. We also publish articles for students in different faculties to help them understand the opportunities they have in their course of study in a clear and concise manner. 
			.space
			%p MyFirstJob is constantly innovating to serve our stakeholders better. Talk to us today to help us understand how we can improve on our work!
			%br
			%br
			%p Best Regards,
			.space
			%p MyFirstJob Management Team
	.span4
		.hero-unit4
			%h1 Top Stories
			- @events.each do |event|
				.space
				%p= link_to event.title, event_path(event)
%br
%br
%br
%br