.hero-unit8
	%ul.breadcrumb.navigation
		%li
			= link_to root_path do
				%i.icon-folder-open
				Home
		%span.divider >
		%li.gray
			Sign In
%br
%br
.row
	.span8
		.hero-unit8
			%h1 About Us
			%br
			%p Dear Users,
			%br
			%p CareerScout is an online portal that helps professionals and tertiary students make a better career decision. We work towards creating an environment where professionals and students can get guidance and insiders’ information on companies and industries.
			.space
			%p Our company hub facilitates the sharing of internship and working experience among students and professionals to allow them to have a sneak peek of the working life in different companies. Users are also able to ask questions about those companies. To complement this experience, we also publish up-to-date stories for different industries to help them understand the opportunities they have.
			.space
			%p CareerScout is constantly innovating to serve our stakeholders better. Talk to us today to help us understand how we can improve on our work!
			%br
			%br
			%p Best Regards,
			.space
			%p CareerScout Management Team
	.span4
		.hero-unit4
			%h1 Top Stories
			- @events.each do |event|
				.space
				%p= link_to event.title, event_path(event)
%br
%br
%br
%br