%h3 About Us


%p MyFirstJob is an online portal on a mission to help tertiary students make better career decision. We work towards creating an environment where students can get guidance and insiders’ information on companies and industries before they enter the workforce. Our company hub facilitates the sharing of internship & interviews experience between peers to allow them to have a preview of the working life in different companies. We also publish articles for students in different faculties to help them understand the opportunities they have in their course of study in a clear and concise manner. MyFirstJob is constantly innovating to serve our stakeholders better. Talk to us today to help us understand how we can improve on our work!