.hero-unit8
	%ul.breadcrumb.navigation
		%li
			= link_to root_path do
				%i.icon-folder-open
				Home
		%span.divider >
		%li.gray
			Sign In
%br
%br
.row
	.span8
		.hero-unit8
			%h1 About Us
			%br
			%p Dear Users,
			%br
			%p CareerScout Asia is an online portal that helps professionals and tertiary students make a better career decision. We work towards creating an environment where professionals and students can get guidance and insiders’ information on companies and industries.
			.space
			%p Our company hub facilitates the sharing of internship and working experience among students and professionals to allow them to have a sneak peek of the working life in different companies. Users are also able to ask questions about those companies. To complement this experience, we also publish up-to-date stories for different industries and list a comprehensive internship/job positions to help them understand the opportunities they have.
			.space
			%p CareerScout Asia is constantly innovating to serve our stakeholders better. Talk to us today to help us understand how we can improve on our work!
			%br
			%br
			%p Best Regards,
			.space
			%p CareerScout Asia Management Team
	.span4
		.hero-unit4
			%h1 Top Stories
			- @events.each do |event|
				.space
				%p= link_to event.title, event_path(event)
			%br
			<script type="text/javascript"><!--google_ad_client = "ca-pub-7141414805566169";
			/* Homepage Ad */
			google_ad_slot = "2265020331";
			google_ad_width = 300;
			google_ad_height = 250;
			//-->
			</script>
			<script type="text/javascript" src="http://pagead2.googlesyndication.com/pagead/show_ads.js">
			</script>
%br
%br
%br
%br