.hero-unit1
	%h1 Know Yourself
	.essay
		%p Personality typing refers to a system for understanding human behavior. It is based on the theory that there are 16 distinct personality types, and each person has one type that most accurately describes him or her. Learning about their personality types, students gain accurate and invaluable insights about themselves and their career-related needs. This enables them to make the most informed, satisfying college and career decisions.
		%p <b>Still not sure about your career? What are you waiting for? </b>Try these online assessments based on Myers-Briggs Type Indicator: 
		.center
			%p <a href="http://www.25quiz.com" target="_blank">John's Personality Test</a>
			%p <a href="http://www.humanmetrics.com/cgi-win/jtypes2.asp" target="_blank">HumanMetrics</a>
	%br
	%h1 Knowing Industry & Jobs
	.essay
		%p Do you know all the possible career paths for your Major? Are you skeptical about the development of specific industry you want to enter? We have the solution to solve these problems.
		%p The Ministry of Manpower publishes an online e-guide, Career Compass to provide guidance on the job and training opportunities in Singapore to help you with your choice of study and career.
		.center
			%p <a href="http://www.careercompass.gov.sg/pages/home.aspx" target="_blank">Access Career Compass here!</a>
	%br
	%h1 Resume Template and Guides
	.essay
		%p Resume is a tool for students to present their backgrounds and skills to employers. For decades, students have made mistake by cramping a lot of irrelevant information about them to a one-page resume. Avoid this mistake and start to learn how to build your Resume! 
	%br
	%h1 Cover Letter Example and Guides
	.essay
		%p Cover letter includes 
	%br
	%h1 Internship Interview: Questions and Answers
	.essay
		%p Preparing for interview 