.hero-unit8
	%ul.breadcrumb.navigation
		%li
			= link_to root_path do
				%i.icon-folder-open
				Home
		%span.divider >
		%li.gray
			Jobs & Internships
%br
%br
.row
	.span8
		.job_compulsory
			.job_compulsory_box
				%h1 Step 1: Compulsory Field
				= render 'shared/search_job'
			.job_compulsory_box
				%h1 Step 2: Optional Field
		.hero-unit8_gray
			%h1 Popular Keyword
			%i.icon-search 
			=link_to "Accounting", '/search_jobs?utf8=✓&job_type=all&keyword=Accounting&position_level=all&education=all'
			%i.icon-search 
			=link_to "Banking", '/search_jobs?utf8=✓&job_type=all&keyword=Banking&position_level=all&education=all'
			%i.icon-search 
			=link_to "Consultant", '/search_jobs?utf8=✓&job_type=all&keyword=Banking&position_level=all&education=all'
			%i.icon-search 
			=link_to "Marketing", '/search_jobs?utf8=✓&job_type=all&keyword=Marketing&position_level=all&education=all'
			%i.icon-search 
			=link_to "HR", '/search_jobs?utf8=✓&job_type=all&keyword=HR&position_level=all&education=all'
			%i.icon-search 
			=link_to "Public Relation", '/search_jobs?utf8=✓&job_type=all&keyword=Public+Relation&position_level=all&education=all'
			%i.icon-search 
			=link_to "Sales", '/search_jobs?utf8=✓&job_type=all&keyword=Sales&position_level=all&education=all'
			%i.icon-search 
			=link_to "Research", '/search_jobs?utf8=✓&job_type=all&keyword=Research&position_level=all&education=all'
			%i.icon-search 
			=link_to "Quality Assurance", '/search_jobs?utf8=✓&job_type=all&keyword=Quality+Assurance&position_level=all&education=all'
			%i.icon-search 
			=link_to "Lab", '/search_jobs?utf8=%E2%9C%93&job_type=all&keyword=lab&position_level=all&education=all'
			%i.icon-search 
			=link_to "Technician", '/search_jobs?utf8=%E2%9C%93&job_type=all&keyword=lab&position_level=all&education=all'
			%i.icon-search 
			=link_to "Environmental", '/search_jobs?utf8=%E2%9C%93&job_type=all&keyword=Environmental&position_level=all&education=all'
			%i.icon-search 
			=link_to "Electrical Engineering", '/search_jobs?utf8=✓&job_type=all&keyword=Electrical&position_level=all&education=all'
			%i.icon-search 
			=link_to "Chemical Engineering", '/search_jobs?utf8=✓&job_type=all&keyword=Chemical&position_level=all&education=all'
			%i.icon-search 
			=link_to "Mechanical Engineering", '/search_jobs?utf8=✓&job_type=all&keyword=Mechanical&position_level=all&education=all'
			%i.icon-search 
			=link_to "Process Engineering", '/search_jobs?utf8=✓&job_type=all&keyword=Process+Engineer&position_level=all&education=all'
			%i.icon-search 
			=link_to "Pharmaceutical", '/search_jobs?utf8=✓&job_type=all&keyword=Pharmaceutical&position_level=all&education=all'
			%i.icon-search 
			=link_to "Healthcare", '/search_jobs?utf8=✓&job_type=all&keyword=Healthcare&position_level=all&education=all'
			%i.icon-search 
			=link_to "IT", '/search_jobs?utf8=✓&job_type=all&keyword=IT&position_level=all&education=all'
			%i.icon-search 
			=link_to "Developer", '/search_jobs?utf8=✓&job_type=all&keyword=Developer&position_level=all&education=all'
			%i.icon-search 
			=link_to "Publishing", '/search_jobs?utf8=✓&job_type=all&keyword=Publishing&position_level=all&education=all'
			%i.icon-search 
			=link_to "Lawyer", '/search_jobs?utf8=✓&job_type=all&keyword=Lawyer&position_level=all&education=all'
			%i.icon-search 
			=link_to "Retail", '/search_jobs?utf8=✓&job_type=all&keyword=Retail&position_level=all&education=all'
			%i.icon-search 
			=link_to "Design", '/search_jobs?utf8=✓&job_type=all&keyword=Design&position_level=all&education=all'
			%i.icon-search 
			=link_to "Non-Profit", '/search_jobs?utf8=✓&job_type=all&keyword=Non-profit&position_level=all&education=all'
	.span4
		.hero-unit4
			%h1 Career Guidelines
			%p Are you not sure about which job or internship position you should apply? Having problems in writing CV, Cover Letter or even not ready for interview?
			.space
			%p Fret not! We have all the resources that you need!
			.space
			%a{:href => "http://www.careercompass.gov.sg/Pages/Home.aspx", :target => "_blank"} Guide to Choose a Job/Internship position
			.space
			%a{:href => "http://www.careerscout.asia/events/3"} Guide to Write a CV
			.space
			%a{:href => "http://www.careerscout.asia/events/3"} Guide to Write a Cover Letter
			%h1 Top Stories
			- @events.each do |event|
				.space
				%p= link_to event.title, event_path(event)
			%br
			<script type="text/javascript"><!--google_ad_client = "ca-pub-7141414805566169";
			/* Homepage Ad */
			google_ad_slot = "2265020331";
			google_ad_width = 300;
			google_ad_height = 250;
			//-->
			</script>
			<script type="text/javascript" src="http://pagead2.googlesyndication.com/pagead/show_ads.js">
			</script>
