.hero-unit8
	%ul.breadcrumb.navigation
		%li
			= link_to root_path do
				%i.icon-home
		%span.divider /
		%li.gray
			Jobs/Internships
%br
%br
= render 'shared/search_job'


%br
%br
.row
	.span8
		.hero-unit8
			%h1 Job/Internship Search
	.span4
		.hero-unit4
			%h1 Articles
