.hero-unit8
	%ul.breadcrumb.navigation
		%li
			= link_to root_path do
				%i.icon-folder-open
				Home
		%span.divider >
		%li.gray
			Jobs & Internships
%br
%br
	.span8
		= render 'shared/search_job'
	.span4
		.hero-unit4
			%h1 Articles
