.hero-unit8
	%ul.breadcrumb.navigation
		%li
			= link_to root_path do
				%i.icon-folder-open
				Home
		%span.divider >
		%li.gray
			FAQ
%br
%br
.row
	.span8
		.hero-unit8
			%h1 FAQ

			%p <b> Q: Where do you get information about the companies? </b>
			%p A: The basic information about the companies is compiled from various credible sources including the companies themselves. For testimonial and reviews on interview process, they are contribution from students/alumni who work or applied in the companies before. Companies do not pay us to write a testimonial or review. All contribution are from students and alumni. 
			.herolist
			.space
			%p <b> Q: Who can register? </b>
			%p A: All current students from a local university can sign up using your school email address. For alumni who did not have the university alumni email address, we have a section to you to sign up as well. However, we will need to verify that you were from a local university. 
			.herolist
			.space
			%p <b> Q: Will employers see me testimonial I post? </b>
			%p A: We are serious in protecting the identity of students. If you have chosen to remain anonymous for your post, we will not publish your identity. However, our team reviews all submissions before it is published to ensure that they comply with our users guidelines. 
			.herolist
			.space
			%p <b> Q: Is this service free? </b>
			%p A: We do not charge students for using our platform. However, to continue having full access to our platform and enjoy features we will be introducing at later stage, we need our users to contribute at least one testimonial/interview reviews or help us add a new company profile. Once you submission is reviewed and published, you will enjoy a lifetime unlimited access. 
			.herolist
			.space
			%p <b> Q: Can companies delete a review or remove the company from the site? </b>
			%p A: No, they cannot delete a review or remove their company from the site. However, as a representative of the company, if you see a post that you feel is inconsistent with our rules and should be removed, please let us know by sending us a e-mail from our contact page. Alternatively, simply click the "Inappropriate?" link below the post and send us a message. Our team members will look into the issue and take the appropriate action. Please keep in mind that our community rules are also applicable to companies and we endeavor to protect the rights of employers as well.
			.herolist
			.space
			%p <b> Q: As an Employer, how can I enhance our company information? </b>
			%p A: We help employers create a customize profile page to market the brand and opportunities to students. Please contact us to customize your profile page or advertise your job opportunities.
			%br
	.span4
		.hero-unit4
			%h1 Top Stories
			- @events.each do |event|
				.space
				%p= link_to event.title, event_path(event)
%br
%br
