.hero-unit8
	%ul.breadcrumb.navigation
		%li
			= link_to root_path do
				%i.icon-folder-open
				Home
		%span.divider >
		%li.gray
			FAQ
%br
%br
.row
	.span8
		.hero-unit8
			%h1 FAQ

			%p <b> Q: Where do you get information about the companies? </b>
			%p A: The basic information about the companies is compiled from various credible sources including the companies themselves. Company reviews are contributed by students and professionals who work in the companies before. Companies do not pay us to write a company review.
			.herolist
			.space
			%p <b> Q: Who can register? </b>
			%p A: All current students and professionals can sign up using their email address. However, we will verify your identity to maintain the credibility of the posts. 
			.herolist
			.space
			%p <b> Q: Will employers see the company review I post? </b>
			%p A: We are serious in protecting the identity of students and professionals. If you have chosen to remain anonymous for your post, we will not publish your identity. However, our team reviews all submissions to ensure that they comply with our users guidelines. 
			.herolist
			.space
			%p <b> Q: Is this service free? </b>
			%p A: We do not charge students and professionals for using our platform. However, to continue having full access to our platform and enjoy features we will be introducing at later stage, we need our users to contribute at least one comapny review.
			.herolist
			.space
			%p <b> Q: Can companies delete a review from the site? </b>
			%p A: No, they cannot delete a review or remove their company from the site. However, as a representative of the company, if you see a post that you feel is inconsistent with our rules and should be removed, please let us know by sending us a e-mail from our contact page. Our team members will look into the issue and take the appropriate action. Please keep in mind that our community rules are also applicable to companies and we endeavor to protect the rights of employers as well.
			.herolist
			.space
			%p <b> Q: As an Employer, how can I enhance our company information? </b>
			%p A: We help employers create a customized profile page to market the brand and opportunities to students and professionals. Please contact us to customize your profile page or advertise your job opportunities.
			%br
	.span4
		.hero-unit4
			%h1 Top Stories
			- @events.each do |event|
				.space
				%p= link_to event.title, event_path(event)
			%br
			<script type="text/javascript"><!--google_ad_client = "ca-pub-7141414805566169";
			/* Homepage Ad */
			google_ad_slot = "2265020331";
			google_ad_width = 300;
			google_ad_height = 250;
			//-->
			</script>
			<script type="text/javascript" src="http://pagead2.googlesyndication.com/pagead/show_ads.js">
			</script>
%br
%br
