.row
  =image_tag("heroshot.png",:class=>'heroshot')
.row  
  .span8
    .row
      .hero-unit1
        %h1 Featured Companies
        .row
          - @featured_company_details.each do |c|
            .span2
              %td= link_to(image_tag(c.image.url(:thumbnail)), company_detail_path(c))
    .row
      .span8
        .hero-unit1
          %h1 Featured Events
          - @events.each do |event|
            .row
              .span2
                %p= image_tag event.image.url(:thumbnail)
              .span6
                %p= link_to event.title, event_path(event)
                .ellipsis
                  %p= event.content
            .herolist

  .span4
    .row
      .hero-unit1
        %h1 Employer
        %p Reach out to students and graduates effectively now through events, posts and referrals. Registration is free!
        =link_to "Register", new_employer_path, :class => "btn btn-primary"
        =link_to "Sign In", login_url, :class => "btn btn-primary"
    .row
      .hero-unit1
        .fb-like{"data-href" => "http://localhost:3000/", "data-send" => "true", "data-show-faces" => "true", "data-width" => "150"}
