/      .hero-unit1
/        %h1 Featured Companies
/        .row
/          - @featured_company_details.each do |c|
/            .span9
/              .photo130
/                = link_to(image_tag(c.image.url(:thumbnail)), company_detail_path(c))
/.hero-unit1
/      %h1 Latest Company Reviews
/      - @testimonials.each do |testimonial|
/        .row  
/          .span1
/            <div class="photo100">
/            = image_tag testimonial.profile_image
/            </div>
/          .span7
/            %p= link_to testimonial.company_detail.company_name, company_detail_path(testimonial.company_detail)
/            .green
/              %p= "Industry : " + testimonial.company_detail.company_industry
/            .space
/            .shortellipsis
/              %p= simple_format testimonial.contents["work_experience"]
/            .space
/            .pull-right
/              %p= link_to "... Read More",  company_detail_path(testimonial.company_detail)
/        .herolist
/    .hero-unit1
/      %h1 Latest Interviews
/      - @interviews.each do |interview|
/        .row  
/          .span1
/            <div class="photo100">
/            = image_tag interview.profile_image
/            </div>
/          .span7
/            %p= link_to interview.company_detail.company_name, company_detail_path(interview.company_detail)
/            .green
/              %p= "Industry : " + interview.company_detail.company_industry
/            .space
/            .shortellipsis
/              %p= simple_format interview.contents["interview_process"]
/            .space
/            .pull-right
/              %p= link_to "... Read More",  company_detail_path(interview.company_detail)
/        .herolist
/    .hero-unit1
/      %h1 Featured Stories
/      - @events.each do |event|
/        .row
/          .span2
/            <div class="photo150">
/            = image_tag event.image.url(:thumbnail)
/            </div>
/          .span6
/            %p= link_to event.title, event_path(event)
/            .green
/              %p= event.created_at.strftime("%d %b %Y") + " by " + event.author
/            .space
/            .ellipsis
/              %p= event.content
/            .space
/            .pull-right
/              %p= link_to "... Read More", event_path(event)
/        .herolist
/.row
/      .hero-unit
/        %h1 Find us
/        .fb-like{"data-href" => "http://localhost:3000/", "data-send" => "true", "data-show-faces" => "true", "data-width" => "150"}


=image_tag("Heroshot.png",:class=>'heroshot')
.heroshot_container
  %h1 Take an inside look at companies in Singapore
  .space
  .bold
    %h5 Join many Singaporeans who use CareerScout to read employee reviews and find their dream jobs & internships
  %br
  %p What are you looking for?
.row 
  .span8
    .hero-unit8
      %h1 Top Company Reviews
    .row
      <div id="company_list_home">
      - @testimonials.each do |testimonial|
        <div id="company_list_box">
        =link_to image_tag("Heroshot.png"), company_detail_path(testimonial.company_detail), :class => "company_photo"
        <div class="wrapper" id="testimonial_home">
        %p= link_to testimonial.company_detail.company_name, company_detail_path(testimonial.company_detail)
        %p= simple_format testimonial.contents["work_experience"]
        </div>
        </div>
      </div>
    .hero-unit8
      %h1 Top Industries
    .row
      .home_photo
        =link_to image_tag("Banking.png"), root_path
      .home_photo
        =link_to image_tag("Legal.png"), root_path
      .home_photo
        =link_to image_tag("Healthcare.png"), root_path
      .home_photo
        =link_to image_tag("public.png"), root_path
      .home_photo
        =link_to image_tag("Engineering.png"), root_path
      .home_photo
        =link_to image_tag("Moreindustries.png"), root_path
  .span4
    .hero-unit4
      %h1 Job & Internship Seeker
      %p We use an innovative algorithm to help you find out your dream job or internship. What's more! By getting registered, you can write, ask and find out more about the companies in Singapore from the insiders' perspective!
      .space
      .center.green
        %p Get your free registration now!
      .center
        %p= link_to "Register", new_user_path(:type => "student"),:class => "btn btn-primary", :id=>"student_sign_up_button"
      %br
      %h1 Employer
      %p Get your job or internship posts listed in our site! We choose and control the quality of our posts to maintain credibility and trust from job applicants. There are also other opportunities to show how awesome your company is to those applicants. 
      .center
        %p=link_to "Find Out More", employers_path, :class => "btn btn-primary", :id=>"employer_button"
    
