.hero-unit
  %h1 Hero Shot
  %p Tagline
  %p
    %btn.btn-primary.btn-large
      Learn More
.row  
  .span8
    .row
      .span8
        .hero-unit
          %p Featured Company:
          .row
            - @featured_company_details.each do |c|
              .span2
                %td= image_tag c.image.url(:thumbnail)
    .row
      .span8
        .hero-unit
          %p Featured Events
          - @events.each do |event|
            .row  
              %ul.thumbnails
                %li.span7
                  .thumbnail
                    .row
                      .span2
                        %td= image_tag event.image.url(:thumbnail)
                      .span2
                        %p= link_to event.title, event_path(event)
                        %p= event.content

  .span4
    .row
      %ul.thumbnails
        %li.span4
          .thumbnail
            =link_to "Are you an Employer? Click here to sign up!", new_employer_path
    .row
      %ul.thumbnails
        %li.span4
          .thumbnail
            .fb-like{"data-href" => "http://localhost:3000/", "data-send" => "true", "data-show-faces" => "true", "data-width" => "450"}