/      .hero-unit1
/        %h1 Featured Companies
/        .row
/          - @featured_company_details.each do |c|
/            .span9
/              .photo130
/                = link_to(image_tag(c.image.url(:thumbnail)), company_detail_path(c))
/.hero-unit1
/      %h1 Latest Company Reviews
/      - @testimonials.each do |testimonial|
/        .row  
/          .span1
/            <div class="photo100">
/            = image_tag testimonial.profile_image
/            </div>
/          .span7
/            %p= link_to testimonial.company_detail.company_name, company_detail_path(testimonial.company_detail)
/            .green
/              %p= "Industry : " + testimonial.company_detail.company_industry
/            .space
/            .shortellipsis
/              %p= simple_format testimonial.contents["work_experience"]
/            .space
/            .pull-right
/              %p= link_to "... Read More",  company_detail_path(testimonial.company_detail)
/        .herolist
/    .hero-unit1
/      %h1 Latest Interviews
/      - @interviews.each do |interview|
/        .row  
/          .span1
/            <div class="photo100">
/            = image_tag interview.profile_image
/            </div>
/          .span7
/            %p= link_to interview.company_detail.company_name, company_detail_path(interview.company_detail)
/            .green
/              %p= "Industry : " + interview.company_detail.company_industry
/            .space
/            .shortellipsis
/              %p= simple_format interview.contents["interview_process"]
/            .space
/            .pull-right
/              %p= link_to "... Read More",  company_detail_path(interview.company_detail)
/        .herolist
/    .hero-unit1
/      %h1 Featured Stories
/      - @events.each do |event|
/        .row
/          .span2
/            <div class="photo150">
/            = image_tag event.image.url(:thumbnail)
/            </div>
/          .span6
/            %p= link_to event.title, event_path(event)
/            .green
/              %p= event.created_at.strftime("%d %b %Y") + " by " + event.author
/            .space
/            .ellipsis
/              %p= event.content
/            .space
/            .pull-right
/              %p= link_to "... Read More", event_path(event)
/        .herolist
/.row
/      .hero-unit
/        %h1 Find us
/        .fb-like{"data-href" => "http://localhost:3000/", "data-send" => "true", "data-show-faces" => "true", "data-width" => "150"}


=image_tag("Heroshot.jpg",:class=>'heroshot')
.heroshot_container
  %h1 Take an inside look at companies and Interviews
  .space
  .bold
    %h5 Join thousands of people who use MyFirstJob to read employee reviews, get in-depth career advice and find jobs
%br
%br
.row 
  .span8
    .row
      .span4
        .row
          .home_photo
            =link_to image_tag("Heroshot.jpg"), root_path
      .span4
        .row
          .home_photo
            =link_to image_tag("Heroshot.jpg"), root_path
    %br
    .row
      .span4
        .row
          .home_photo
            =link_to image_tag("Heroshot.jpg"), root_path
      .span4
        .row
          .home_photo
            =link_to image_tag("Heroshot.jpg"), root_path
    %br
    .row
      .span8
        .home_photo_horizontal
          =link_to image_tag("Heroshot.jpg"), root_path
  .span4
    .row
      - @testimonials.each do |testimonial|
        .company_list_box
          .span1
            =link_to testimonial.company_detail.image.url(:thumbnail), company_detail_path(testimonial.company_detail), :class => "company_photo"
          .span3
            %p= link_to testimonial.company_detail.company_name, company_detail_path(testimonial.company_detail)
            <div id="shortellipsis">
            %p= simple_format testimonial.contents["work_experience"]
            </div>
    
