.hero-unit8
	%ul.breadcrumb.navigation
		%li
			= link_to root_path do
				%i.icon-folder-open
				Home
		%span.divider >
		%li.gray
			Privacy
%br
%br
.row
	.span8
		.hero-unitterms
			%h1 Privacy
			%p This Privacy Policy was last updated in July 2013.
			%p CareerScout (the “Site”, “we”, “our”, or “us”) understands that information provided by our users are important. We are doing our best to ensure the security and confidentiality of the information. Please read this Policy carefully to learn about our privacy practices. 
			%p By visiting the Site, registering as a member, submitting personal information though the services or using the services or the Site, you acknowledge and accept the practices and policies outlined in this privacy policy (“Privacy Policy”).
			.bold
				%p Information we collect from you
			%p You are willing to provide us certain personal information, which we collect in order to allow you and any other Users to benefit from the Site. When you access the Site, we may collect the following information: 
			%p “Personal Information”:  information that is personally identifiable like names, addresses, e-mail addresses, or phone numbers, as well as other non-public information that is associated with the aforementioned. 
			%p Non Personal Information - other information involving you, including but not limited to anonymous statistics, records and other information in relation to your browsing of the Site (“Non-Personal Information”)
			%p Content Submitted: When you choose to contribute any form of content (Reviews) or participate in our surveys directly or indirectly, or provide any other information to the Site through other means, we will collect all the information you provide.
			%p When you contact us by sending us an e-mail or when you use any of our contact forms, we will collect any information that is contained in your e-mail, text message, or that you enter into such forms.
			%p Cookies: CareerScout stores a small text file called a “Cookie” on your computer to store your login information and other personal preferences of yours for the Site to improve user experience. CareerScout may use both session Cookies (which expire once you close your web browser) and persistent Cookies (which stay on your computer until you delete them).
			%p IP address: As you use CareerScout, certain information may also be collected passively to improve user experience. This information may include your Internet protocol (IP) address and the browser that you use to visit the Site.
			.bold
				%p Use of Information We Collect
			%p You agree and acknowledge that we may use information we collect from you and disclose such information to CareerScout for the purposes of:
			%p Monitoring the use of, or planning, researching, designing, developing, market research, improving or marketing any Site or any related service;
			%p Providing you with announcements and notifications related to your use of the Services and other communications such as electronic newsletters, promotional e-mails or similar messaging, unless you have requested otherwise;
			%p Providing benefits to users, such as yourself and potential employers and business opportunities, to connect and share professional information in career opportunities
			%p Monitoring your compliance with and enforcing any terms and conditions of use imposed by CareerScout;
			%p Complying with any applicable law or any order of a court or law enforcement, government or regulatory agency, or rendering assistance to any such agency.
			.bold
				%p Disclosure of Personal Information
			%p WE WILL NOT, without your express consent, provide your personal information to any third parties for the purpose of direct marketing.
			%p CareerScout will take all reasonable steps to ensure that records containing Personal Information are stored in facilities that are only accessible by people within CareerScout, any CareerScout Affiliate or third party service providers and suppliers who work on behalf of or with us who "needs to know" or have a "right to know".
			%p In the event CareerScout goes through a business transition such as a merger, acquisition by another company, or sale of all or a portion of its assets, your Personal Information will likely be among the assets transferred. You acknowledge that such transfers may occur, and that any acquirer of CareerScout or its assets may continue to use your Personal Information as set forth in this Privacy Policy.
			%p We may (and you authorize us to) disclose information we have collected from and about you (including Personal Information) if we believe in good faith that such disclosure is necessary to (a) comply with relevant laws or to respond to subpoenas or warrants served on us; (b) to enforce our CareerScout Terms and Privacy Policy; or (c) to protect and defend the rights or property of us, the users of our Services, or third parties.
			%p You may request that your Account be terminated and that your Personal Information be deleted by sending an email to support@careerscout.asia or through Contact Us. Any termination of your account may involve deletion of your Account information from our live databases and all the information and data stored for such Account in the Services. CareerScout will not have any liability whatsoever to you for any termination of your account or related deletion of you information.
			.bold
				%p Security
			%p CareerScout has put in place commercially reasonable and appropriate physical, electronic, and managerial procedures to safeguard and secure the information we collect online. However, no company, including CareerScout, can fully eliminate security risks associated with Personal Information.
			.bold
				%p Contact Us
			%p If you have any questions or suggestions regarding our Privacy Policy please contact us by sending us an e-mail to support@careerscout.asia or through Contact Us.
			%br
	.span4
		.hero-unit4
			%h1 Top Stories
			- @events.each do |event|
				.space
				%p= link_to event.title, event_path(event)
			%br
			<script type="text/javascript"><!--google_ad_client = "ca-pub-7141414805566169";
			/* Homepage Ad */
			google_ad_slot = "2265020331";
			google_ad_width = 300;
			google_ad_height = 250;
			//-->
			</script>
			<script type="text/javascript" src="http://pagead2.googlesyndication.com/pagead/show_ads.js">
			</script>