/					.space
/					%p=link_to "Register", new_employer_path, :class => "btn btn-primary", :id=>"employer_register"
.hero-unit8
	%ul.breadcrumb.navigation
		%li
			= link_to root_path do
				%i.icon-folder-open
				Home
		%span.divider >
		%li.gray
			Employer
%br
%br
.row
	.span8
		.hero-unit8
			%h1 Employer
			.space
			=image_tag("employer.png",:class=>'employer_heroshot')
			%br
			%br
			.bold
				%p 1. What We Offer
			.space
			%p We are always excited to work with organizations in creating the brand image that they deserve. CareerScout Asia regularly reaches out to students and alumni of local tertiary institutions and selected top-ranked overseas universities. We make an ideal platform for organization to promote their unique propositions to all the talents out there.
			.space
			%p At CareerScout Asia, we run two programs – the long-term annual marketing program to ensure constant coverage for your year-long recruitment effort, as well as a short-term one-time blitz for those that need an instant boost, such as job or internshp postings. While we do offer one off marketing blitzes, we believe that marketing is a constant process and we recommend an annual package that would allow organization to constantly reach out to the talented masses in Singapore. 
			%br
			.bold
				%p 2. Benefits
			.space
			%p There are many ways for you to market your company in this platform. This service can be customized based on what you need. You may choose from the following options:
			%p - Customized Company Profile
			%p - Job or Internship Posting
			%p - Featured Articles or Company Logo
			%p - Recruitment Event Advertisement & many more.
			%br
			.green
				.bold
					%p Whether you are a recruitment agency, an advertising agency or an employer, we are here to help you find the talents!
			%br
			%p= link_to "Talk to us for more information and to request for our media kit!",homes_contact_path
			%br
			%br
	.span4
		.hero-unit4
			%h1 Act Now!
			.space
			%p If you are looking for talents, you have found the right place to market your company.
			.space
			%p Registration is the first step to market your company to talents.
			.space
			%p Talk to us to register your company. 