#new_company_detail{
	position:relative;
	left:30px;
}

#company_detail_about{
	width:550px;
	height:100px;
}

#company_detail_award{
	width:550px;
	height:100px;
}

#company_detail_opportunities{
	width:550px;
	height:100px;
}

.company_hub_image{
	width:300px;
	float:left;
}

.company_hub_image img{
	width:280px;
}
.company_hub_description{
	width:320px;
}

.company_hub_description p{
	margin-bottom:15px;
}

.opportunity_container p{
	margin-bottom: 15px;
}

.testimonial_container p{
	margin-bottom:15px;
}