#interview_contents_interview_process{
	height:150px;
	width:550px;
}

#interview_contents_questions{
	height:150px;
	width:550px;
}

#interview_contents_advice{
	height:150px;
	width:550px;
}

#new_interview{
	position:relative;
	left:22px;
}