.collection_radio_buttons{
	display:inline;
	padding-right: 20px;
}

label[class="collection_radio_buttons"]{
	position:relative;
	top:3px;
	left:3px;
}

#new_testimonial{
	position:relative;
	left:22px;
}

#testimonial_contents_culture{
	width:550px;
	height:150px;
	position:relative;
	left:-20px;
}

#testimonial_contents_work_balance{
width:550px;
	height:150px;
	position:relative;
	left:-20px;
}

#testimonial_contents_work_experience{
width:550px;
	height:150px;
	position:relative;
	left:-20px;
}

#testimonial_contents_advice{
width:550px;
	height:150px;
	position:relative;
	left:-20px;
}

label[class="boolean optional"]{
	position:relative;
	left:20px;
	top:-16px;
}

/* Testimonial Details*/

.voting{
	font-size: 11pt;
	position:relative;
	left:77px;
	top:-10px;
}

.active.upvote a{
	color:black;
}

.active.downvote a{
	color:black;
}

.position_testimonial_photo{
	position:relative;
	left:20px;
	top:20px;
}

.testimonial_photo{
	display:table-cell;
	vertical-align:middle;
	text-align:center;
	width:110px;
	height:110px;
	border-color:#cccccc;
	border-width:1px;
	border-style:solid;
	-webkit-box-shadow: 0 6px 6px -6px black;
	-moz-box-shadow: 0 6px 6px -6px black;
	box-shadow: 0 6px 6px -6px black;
	background:white;
}

.testimonial_photo img{
	height:auto;
	width:100px;
}

.popularity_shift{
	position:relative;
	top:12px;
}

#comment_content{
	width:580px;
	height:100px;
}
