.row
  .span8
    .row
      .hero-unit1
        %h1 Recent Posts
        %table{:class => "table table-edit"}
          %tr
            %th Date Posted
            %th Title
            %th Job Type
            %th Deadline
  .span4
    .row
      .hero-unit
        %h1 Information
        %p= "Current Job Posts : #{@total_jobs}"
        %br
        %p= "Current Internship Post : 0"
      .hero-unit
        %h1 Activity
        %p=link_to "Create your Company Profile", new_employer_company_detail_path, :class => "btn btn-primary"
        %p=link_to "Manage your Company Profile", employer_company_details_path, :class => "btn btn-primary"
        %p=link_to "Create new Job/Internship", new_employer_job_path, :class => "btn btn-primary"
        %p=link_to "Manage your Job/Internship", employer_jobs_path, :class => "btn btn-primary"
%br
%br
%br
%br
%br
%br
%br
  

