.row  
  .span8
    .hero-unit
      %p Featured Company/Job/Internship/Events:
    .hero-unit
      %p Job Board Notification
      %h1 In Construction For Company Posts
  .span4 
    .row
      %h2 Membership:
      %small Basic
      %p You will be able to see the testimonials and bla bla kasdf ajskldf jaksldjf jasdklfja slkdj fkl ajsdklfj alskdj f
    .row
      %ul.thumbnails
        %li.span4
          .thumbnail
            %h4 CONTRIBUTION PANEL
            %br=link_to "Create a Company Profile", new_student_company_detail_path, :class => "btn btn-primary"
            %br=link_to "Manage your Company Profiles", student_company_details_path, :class => "btn btn-primary"
            %br=link_to "Write a Testimonial", new_student_testimonial_path, :class => "btn btn-primary"
            %br=link_to "Share an interview", root_path, :class => "btn btn-primary"
    .row
      %ul.thumbnails
        %li.span4
          .thumbnail
            %h4 PERSONAL PANEL
            =link_to "Edit Profile", root_path, :class => "btn btn-primary"
