.fb-like{
	position:relative;
	left:15px;
	top:10px;
}

.heroshot{
	width:100%;
	height:auto;
	position:relative;
	left:10px;
}

/*	border-style:solid;
	border-width:1px;
	border-color:#cccccc;
		-webkit-box-shadow: 0 6px 6px -6px black;
	-moz-box-shadow: 0 6px 6px -6px black;
	box-shadow: 0 6px 6px -6px black;
}
*/

.brand{
 width:200px;
 height:10px;
 position:relative;
 top:-32px;
}



.ellipsiscompany {
  overflow: hidden;
  height: 8.2em;
 }