.sign_up_box{
	padding-left:20px;
	padding-right:20px;
	padding-top:5px;
	margin-top:10px;
	margin-left:10px;
	margin-bottom:10px;
	border:1px #cccccc solid;
	border-radius:3px;
}

.sign_up_box h1{
	padding:0px;
	margin:0px;
	font-size:20pt;
}

#sign_up_button{
	width:175px;
}

#user_student_attributes_graduation_year{
	height:30px;
	width:550px;
}

#user_student_attributes_school{
	width:550px;
}

.password.optional{
	width:550px;
}

#user_email{
	width:550px;
}

.string.optional{
	width:550px;
}

#user_student_attributes_nationality{
	width:550px;
}

#edit_user_25{
	position:relative;
	left:200px;
	margin-top:50px;
}

#settingchange{
	position:relative;
	left:50px;
}

#user_profile_image{
	position:relative;
	top:5px;
}
