input[type="text"]{
	height:30px;
}
input[class="string email required"]{
	height:30px;
}
input[class="password optional"]{
	height:30px;
}

#password{
	height:30px;
}

input[class="string tel optional"]{
	height:30px;
}

input[class="string email optional"]{
	height:30px;
}


/*
.photo100{
	display:table-cell;
	vertical-align:middle;
	text-align:center;
	width:110px;
	height:110px;
	border-color:#cccccc;
	border-width:1px;
	border-style:solid;
	-webkit-box-shadow: 0 6px 6px -6px black;
	-moz-box-shadow: 0 6px 6px -6px black;
	box-shadow: 0 6px 6px -6px black;
	overflow:hidden;
	background:white;
}

.photo100 img{
	height:auto;
	width:100px;
	overflow:hidden;
}

.photo130{
	display:table-cell;
	vertical-align:middle;
	text-align:center;
	width:130px;
	height:130px;
	border-color:#cccccc;
	border-width:2px;
	border-style:solid;
	-webkit-box-shadow: 0 6px 6px -6px black;
	-moz-box-shadow: 0 6px 6px -6px black;
	box-shadow: 0 6px 6px -6px black;
	overflow:hidden; 
	position:relative;
	left:10px;
	background:white;
}

.photo130 img{
	height:auto;
	width:120px;
	overflow:hidden;
}


.photo150{
	display:table-cell;
	vertical-align:middle;
	text-align:center;
	width:150px;
	height:150px;
	border-color:#cccccc;
	border-width:1px;
	border-style:solid;
	-webkit-box-shadow: 0 6px 6px -6px black;
	-moz-box-shadow: 0 6px 6px -6px black;
	box-shadow: 0 6px 6px -6px black;
	background:white;
}

.photo150 img{
	height:auto;
	width:150px;
	border-style: none;
	border-color:#cccccc;
	border-top-color:#dddddd;
	border-left-color:#dddddd;
}

.photo220{
	display:table-cell;
	vertical-align:middle;
	text-align:center;
	width:220px;
	height:220px;
	border-color:#cccccc;
	border-width:1px;
	border-style:solid;
	-webkit-box-shadow: 0 6px 6px -6px black;
	-moz-box-shadow: 0 6px 6px -6px black;
	box-shadow: 0 6px 6px -6px black;
	background:white;
}

.photo220 img{
	height:auto;
	width:200px;
	border-style: none;
	border-color:#cccccc;
	border-top-color:#dddddd;
	border-left-color:#dddddd;
}

.photo300{
	display:table-cell;
	vertical-align:middle;
	text-align:center;
	width:300px;
	height:300px;
	border-color:#cccccc;
	border-width:1px;
	border-style:solid;
	-webkit-box-shadow: 0 6px 6px -6px black;
	-moz-box-shadow: 0 6px 6px -6px black;
	box-shadow: 0 6px 6px -6px black;
	overflow:hidden;
	background:white;
}

.photo300 img{
	height:auto;
	width:300px;
	border-style: none;
	border-color:#cccccc;
	border-top-color:#dddddd;
	border-left-color:#dddddd;
	vertical-align: middle;
}

.center{
	text-align: center;
}

.ellipsis {
  overflow: hidden;
  height: 7.6em;
 }


.signupbutton{
	position:relative;
	left:163px;
}

.btn.btn-primary{
border-radius:3px;
	width:235px;
}

.btn.btn-danger{
	border-radius:3px;
	width:235px;
}
*/

.hero-unit4{
padding-top:0px;
margin-bottom:10px;
margin-right:0px;
margin-left:20px;
margin-top:10px;
padding-right:0px;
padding-left:0px;
border:none;
background:none;
}

.hero-unit4 h1{
border-top: solid #cccccc 2px;
border-bottom:solid #cccccc 2px;
font-size:18pt;
font-weight:normal;
}

.hero-unit4 h2{
	font-size:18pt;
}

.hero-unit8{
margin-bottom:10px;
margin-left:0px;
background:none;
margin-top:10px;
margin-bottom:0px;
margin-left:20px;
}

.hero-unit8 h1{
	font-size:23pt;
}

.hero-unit8_gray{
margin-bottom:10px;
margin-left:0px;
background:#f1f1f1;
margin-top:10px;
margin-left:20px;
border-radius:2px;
border-style:solid;
border-width:1px;
border-color:#cccccc;
padding-left:10px;
padding-right:10px;
padding-top:10px;
padding-bottom:10px;
}

p{
	font-size:10pt;
	margin:0px;
	line-height:125%;
}

.left{
	float:left;
}

.right{
	float:right;
}

.row{
	margin-left:0;
	margin-right:0;
}

.span8{
	margin-left:0px;
	margin-right:0px;
	width:640px;
}

.span4{
	margin-left:0px;
	margin-right:0px;
	width:320px;
}

.span3{
	margin-left:0px;
	margin-right:0px;
	width:220px;
}

.span1{
	width:80px;
	margin-left:0px;
	margin-right:0px;
	padding:0px;
}

/*
.span1{
	margin-left:0px;
	margin-right:0px;
	width:110px;
}

.span7{
	margin-left:10px;
	margin-right:0px;
	width:457px;
}


.span6{
	margin-left:10px;
	margin-right:0px;
	width:417px;
}

.span2{
	margin-left:0px;
	margin-right:0px;
	width:150px;
}
*/
/*span9 for featured company*/
/*
.span9{
	margin-left:0px;
	margin-right:0px;
	width:145px;
}

.span3{
	margin-left:0px;
	margin-right:0px;
	width:220px;
}

.span5{
	margin-left:12px;
	margin-right:0px;
	width:345px;
}
*/

/*
.inline p{
	display:inline;
}


.hero-unit h1{
	font-size:18pt;
	line-height:18pt;
	border-top-style:solid;
	border-bottom-style:solid;
	border-color:#f1f1f1;
	border-width:1px;
	padding-top:8.5px;
	margin-top:0px;
	padding-bottom:5px;
	font-weight:normal;
	
}

.hero-unit h2{
	font-size:11pt;
	line-height:11pt;
	border-bottom-style:solid;
	border-bottom-color:#cccccc;
	border-bottom-width:1px;
	padding-left:20px;
	padding-right:20px;
	padding-top:8.5px;
	margin-top:0px;
	padding-bottom:5px;
	font-weight:bold;
}

.hero-unit1 h1{
	font-size:18pt;
	line-height:18pt;
	font-weight:normal;
	background:#fafafa;
	border-style:solid;
	border-width:1px;
	border-color:#cccccc;
	padding-top:7.5px;
	padding-bottom:7.5px;
	position:relative;
	top:-10px;
	border-radius: 5px;
	background:#f9f9f9;
	-webkit-box-shadow: 0 6px 6px -6px black;
	-moz-box-shadow: 0 6px 6px -6px black;
	box-shadow: 0 6px 6px -6px black;
}

.hero-unit1 h2{
	font-size:18pt;
	color:#4a8bf5;
	margin-top: 0px;
	padding-top: 0px;
	font-weight:normal;
	margin-top:3px;
}

.hero-unit p{
	font-size: 10pt;
	line-height:150%;
	margin:0px;
}

.hero-unit1 p{
	font-size: 10pt;
	line-height:150%;
	margin-top:0px;
	margin-bottom:0px;
}

.space{
	margin-top:10px;
}
*/
.green{
	color:green;
}

.gray{
	color:#cccccc;
}

.italic{
	font-style: italic;
}

/*
.psmall{
	font-size:9pt;
	line-height:150%;
	position:relative;
	left:180px;
	color:#4a8bf5;
}

.pmedium{
	font-size:10pt;
	line-height:150%;
}
*/

/* overall layout*/

ul.breadcrumb.all{
	background:none;
	position:absolute;
	top:102%;
	left:-2px;
	font-size:9pt;
}

ul.breadcrumb{
	background:none;
	position:absolute;
	left:7px;
	font-size:10pt;
}

.navbar-inverse .navbar-inner{
	font-size: 12pt;
	min-width:1100px;
	border:none;
		border-radius:0;
/* IE10 Consumer Preview */ 
background-image: -ms-linear-gradient(top, #8AD453 0%, #7ABA49 100%);

/* Mozilla Firefox */ 
background-image: -moz-linear-gradient(top, #8AD453 0%, #7ABA49 100%);

/* Opera */ 
background-image: -o-linear-gradient(top, #8AD453 0%, #7ABA49 100%);

/* Webkit (Safari/Chrome 10) */ 
background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #8AD453), color-stop(1, #7ABA49));

/* Webkit (Chrome 11+) */ 
background-image: -webkit-linear-gradient(top, #8AD453 0%, #7ABA49 100%);

/* W3C Markup, IE10 Release Preview */ 
background-image: linear-gradient(to bottom, #8AD453 0%, #7ABA49 100%);
	-webkit-box-shadow: 0px 2px 8px rgba(100, 100, 100, 1);
-moz-box-shadow:    0px 2px 8px rgba(100, 100, 100, 1);
box-shadow:         0px 2px 8px rgba(100, 100, 100, 1);
	height:40px;
		border-top:#65ad2d solid 1px;
	border-bottom:#65ad2d solid 1px;
}

.brand img{
 width:auto;
 height:100px;
 position:absolute;
 top:-30px;
 left:140px;
}

/*top navigation bar*/
.navbar-inverse .divider-vertical{
	border:none;
	margin-top:5px;

}
.navbar-inverse .nav .active > a{
	background:#7ABA49;
	font-weight:normal;
	padding-top:10px;
	padding-bottom:10px;
	border-left:#65ad2d solid;
	border-right:#65ad2d solid;
	border-width:1px;
}

.navbar-inverse .nav .active > a:hover{
	background:none;
	font-weight:normal;
	padding-top:10px;
	padding-bottom:10px;
}

.navbar-inverse .nav > li > a {
	color:white;
	font-weight:normal;
	padding-top:10px;
	padding-bottom:10px;
}

.navbar-inverse .nav > li > a:hover{
	background:#7ABA49;
	font-weight:normal;
	padding-top:10px;
	padding-bottom:10px;
}

/*color:#4a8bf5;
	font-weight:normal;
	padding-top:10px;
	padding-bottom:10px;*/


ul.nav{
	padding-left:90px;
	height:20px;
}



.logo_box{
	background:white;
	height:70px;
	width:auto;
}

/*finish top nav bar*/

.bigbutton{
	position:absolute;
	left:910px;
	top:10px;
}

body{
	min-width:1100px;
	height:auto;
	background:#f0f8ff;
}

.container{
	background: white;
	position:relative;
	top:-10px;
	-webkit-box-shadow: 0px 4px 8px rgba(100, 100, 100, 1);
-moz-box-shadow:    0px 4px 8px rgba(100, 100, 100, 1);
box-shadow:         0px 4px 8px rgba(100, 100, 100, 1);
	min-height:600px;
	width:980px;
}

/**/

.field.label_tag{
	font-size: 17pt;
}


/*search box*/

.submit_search{
	background:#4a8bf5;
	color:white;
	height:30px;
	padding-left:50px;
	padding-right:50px;
	border-radius:5px;
	position:relative;
	border:none;
	left:120px;
	top:-10px;
}

.search_box_section{
	margin-left:20px;
	position:relative;
	top:15px;
}

.bold{
	font-weight:bold;
}
